{% extends 'base.html' %}

{% block header %}
<div id="header">
    <h2><strong><em>{% block title %}Contact{% endblock title %}</em></strong></h2>
</div>
{% endblock header %}

{% block content %}
<div id="main">
    <div id="content_col">
        <p>
            Feel free to reach out to me here:
        </p>
        <ul>
            <li>Email: arjun.bamba128@gmail.com</li>
            <li>
                <a href="https://www.linkedin.com/in/arjunbamba/"><strong>LinkedIn</strong></a>
            </li>
        </ul>
    </div>
    <div class="clearfloat"></div>
</div>
{% endblock content %}