@font-face {
	font-family: "Cassandra";
	src: url(fonts/cassandra/cassandra.ttf);
}
@font-face {
	font-family: "Charm";
	src: url(fonts/Charm/Charm-Regular.ttf);
}
  
body {
	font-family: "Charm", "Apple Chancery", "cursive", "Garamond", "Times New Roman", serif;
	font-size: 16pt;
	background-color: #001E50;
	margin: 0px;
}

#header {
	background-size: cover;
	background-position: center;
	margin-top: 0px;

	color: white;
	text-align: center;
	border: 0.1px solid #001E50;
	text-shadow: 8px 8px 18px #D5FEB7;

	font-family: "Cassandra";

	background-image: url('blurry_lights.jpg');
	height: 700px;

	font-size: 2em;
	line-height: 700px;
}

#main {
	background-color: #2E466F;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 6px solid #E4D8FB;
}

#content_col {
	/* background-color: #2E466F; */
	color: #D5FEB7;
	width: 100%;
	padding: 10px;
}

#bio_pic {
	padding: 24px;
	height: 250px;
	width: auto;
	float: right;
}

/* NAVIGATION BAR */
#nav {
	background-color: #E4D8FB;
	position: relative;
	z-index: 1;
}
#nav-wrapper {
	width: 450px;
	margin-left: auto;
	margin-right: 0;
}
		
#nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#nav li {
	font-size: 1.25em;
	width: 150px; /* x3 menu options = 450px for nav wrapper */
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	border-bottom: 3px solid #FFF;

	background-color: #E4D8FB;
	position: relative;
}

#nav a {
	display: block;
	text-decoration: none;
	color: gray;
	padding: 0;
}

/* Default (inactive tab) */
#nav li a {
	background-color: #E4D8FB;
	color: gray;
	border-bottom: 3px solid #FFF;
}

/* Active tab */
#nav li.active a {
	background-color: #BF001F;
	color: #D5FEB7;
	border-bottom: 3px solid #D5FEB7;
}

/* Hover on inactive tabs = active style */
#nav li:not(.active) a:hover {
	background-color: #BF001F;
	color: #D5FEB7;
	border-bottom: 3px solid #D5FEB7;
}

.clearfloat {
	clear: both;
}